venv/
realtime/
producer/realtime/
online_retail_II.xlsx
producer/online_retail_II.xlsx
.env
__pycache__/
.DS_Store
infra/terraform.tfvars
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
dbt/inventory_dbt/target/
dbt/inventory_dbt/logs/
dbt/inventory_dbt/dbt_packages/
dbt/logs/
